html {
  font-family: system-ui;
}

aside {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: white;
  padding: .5rem;
  border-radius: 5px;
}

a:link,
a:visited {
  color: blue;
}

a:hover {
  text-decoration: none;
}

code {
  font-family: system-monospace;
  font-size: .875rem;
}

table {
  border-collapse: collapse;
  margin-bottom: 4rem;
}

thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
}

th {
  font-weight: normal;
  padding: 10px;
}

td {
  padding: .5rem 1rem;
  background-color: white;
  border: 2px solid whitesmoke;
}

.emoji {
  font-size: 36px;
  text-align: center;
}

.normal-emoji {
  font-family: sans-serif;
}

.color-emoji {
  font-family: color-emoji;
}

.before-emoji {
  font-family: color-emoji, sans-serif;
}

.after-emoji {
  font-family: sans-serif, color-emoji;
}
